html {
    text-decoration:none;
}

body {
    margin: 0;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    background: #fff url(../img/fondo.jpg) 50% 0 repeat-x;
    background-attachment:scroll;
}

.plone_principal {
    margin: 0 auto;
    background: url(../img/bg_div_secundario.png) repeat-y ;
    width:1020px;
    top:50%;
    left:50%;

}


#div_segundario {
    margin: 0 auto;
    overflow:hidden;
    margin-left: 30px;
    margin-right: 30px;
}

.logo-minci {
    background:url(../img/bannerlogomci.png) no-repeat center; height:50px;
}

#logo-vtv-menu {
    background: url(../img/top-bar-bg.png) 0 0 repeat-x;
    width:100%;
    height:75px;
    /*float:left;*/
    clear:both;
    padding-top:10px;
    color:#FFFFFF;
    font-size:12px;
    font:bold;
}

#portal-logo{
    float:left;
}

#top-menu-intranet{ 
    width:50%; float:left;
    width:535px;
    height:30px;
    margin-left:10px;
    margin-top:20px;
}

/****************menu top*****************************/
.solidblockmenu{
    margin: 0;
    padding: 0;
    float: left;
    /*font: bold 9px;*/
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em;
    /*border: 1px solid #625e00;*/
    border-width: 1px 0;
    /*background: black url(imagenes/blockdefault.gif) center center repeat-x;*//*modificacion raul*/
}

.solidblockmenu li{
    display: inline;

}

.solidblockmenu li a{
    -moz-border-radius:9px;
    -webkit-border-radius: 9px;
    background: black url(imagenes/blockdefault.gif) center center repeat-x;/*modificacion raul*/
    float: left;
    color: white;
    padding: 9px 11px;
    text-decoration: none;
    margin:2px;
    /*border-right: 1px solid white;*/
}

.solidblockmenu li a:visited{
    color: white;
}

.solidblockmenu li a:hover, .solidblockmenu li .current{
    -moz-border-radius:9px;
    -webkit-border-radius: 9px;
    color: white;
    background: transparent url(imagenes/blockactive.gif) center center repeat-x;
}

#div-cont-feha{
    width:100%;
    float:left;
    color: #FFFFFF;
    text-align: right;
}
.fecha {
    color:#FFFFFF;
}



#evento-convocatoria {
    background: black url(imagenes/bg-evento-principal.png) 0 0 repeat-y;
    clear:both;
    padding:5px;
    margin-top:15px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    background-color:#8D928E;
    /*opacity:0.9;*/
    float:left;
    width:950px;
}



#evento-convocatoria-index {
    /*background: black url(imagenes/bg-eventos.png) center center repeat-x;*/
    /*background: black url(imagenes/bg-evento-principal.png) 0 0 repeat-y;*/

    background: black url(imagenes/bg-evento-convocatoria-des.png) center center repeat-x;

    clear:both;
    padding:5px;
    padding-bottom:20px;
    margin-top:15px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    /*background-color:#8D928E;*/
    opacity:0.9;

    width:950px;
    height:310px;
}




#evento{
    margin:15px;
    /*-moz-border-radius:20px;*/
/*-moz-border-radius-topleft:20px;
-moz-border-radius-bottomleft:20px;*/
background-color: #FFFFFF;
height:280px;
width:620px;
float:left;
}
.imagen-evento{
    width:620px;
    height:210px;
    -moz-border-radius-topleft:20px;
    -moz-border-radius-bottomleft:20px;
    -webkit-border-radius-topleft:20px;
    -webkit-border-radius-bottomleft:20px;

}

#convocatoria{
    float:left;
    -moz-border-radius-topright:15px;
    -moz-border-radius-bottomright:15px;
    -webkit-border-radius-topright:15px;
    -webkit-border-radius-bottomright:15px;

    background-color: #FFFFFF;
    height:300px;
    width:280px;
    margin-top:15px;
    margin-left:5px;
}

#titulo-convocatoria{
    width:100%;
    /*margin-top:10px;*/
    color:#FFFFFF;
    /*background-color:#477BAC;*/
    background-color: #980E10 ;
    /*#BF1818*/
    font-weight:bold;
    background: url(imagenes/bg_vtvinforma.png) no-repeat;
    height:80px;
}




#contenido-convocatoria{
    width: 100%;
    padding-right:5px;
}

#marqueecontainer{
    position: relative;
    height: 180px; /*marquee height */
    overflow: hidden;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    font-size: 12px;
}
.text-convocatoria{
    text-decoration:none;
    color:#666666;
    font-size: 12px;
}

#bottom_conv{
    margin-right:10px;
}

.text-mas-convocatoria{
    text-decoration:none;
    color:#980E10;
    font-size: 10px;
}

.text-mas-eventos{
    text-decoration:none;
    color: #FFFFFF;
    font-size: 10px;
}

#escucha{
    margin-top:10px;
    margin-bottom:10px;
    /*background-color: #FF0000;*/

    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    color:#B20006;
    width:100%;
    height:100px;
    padding-top:3px;
    padding-bottom:3px;
    margin-bottom:10px;

}
.esc_des{
    font-size:18px
}

#escuchaa{
    float:left;
    width:470px;
    height:90px;
    /*background-color: #FF0000;*/
    background:#D6E0E2 url(imagenes/bg_escucha.png) repeat-x;
    -moz-border-radius:6px;
    -webkit-border-radius: 6px;
    margin-right:10px;
    text-align:left;
    padding:2.5px;
    padding-bottom:10px;
}

#escuchab{
    float:left;
    width:470px;
    height:90px;
    /*background-color: #0000FF;*/
    background:#D6E0E2 url(imagenes/bg_escucha.png) repeat-x;
    -moz-border-radius:6px;
    -webkit-border-radius: 6px;
    text-align:left;
    padding:2.5px;
    padding-bottom:10px;
}



#cintillo{
    margin-top:10px;
    margin-bottom:10px;
    background-color: #000000;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    color:#FFFFFF;
    width:100%;
    padding-top:3px;
    padding-bottom:3px;
}


#cintillo{
    margin-top:10px;
    margin-bottom:10px;
    background-color: #000000;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    color:#FFFFFF;
    width:960px;
    height:15px;
    padding-top:3px;
    padding-bottom:3px;
}

#marquesina1{
    float:left;
    width:240px;
    height:15px;
}

#marquesina{
    float:left;
    width:720px;
    height:15px;
}



#contenedor-centro{
    width:960px; 
    margin-bottom:10px;
    height:auto;
    clear:both;
    overflow:hidden;
}

#col-izquierda{
    clear:both;
    float:left;
    /*background-color:#000000;*/
    width:330px;
    height:100%;
    margin-right:5px;
}

.recuadrobg{
    background: url(imagenes/bg-div-cuadro.png) repeat;
}


#div-logeo{
    float:left;
    /*background: url(imagenes/bg-logeo.png) 0 0 repeat-y;*/
    width:320px;
    background-color:#CCCCCC;
    margin-bottom:10px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    /*-moz-border-radius-bottomleft:20px;*/
    height: auto;
    font-size:12px;
    padding:5px;
    /*padding-left:20px;*/
}
.tabla-logeo{
    margin-left:20px;
    margin-top:5px;
    align:left;
}

.tabla-logeo2{
    margin-left:20px;
    margin-top:5px;
    align:left;
}




.cedula-clave{
    background-color:#666666;
    color:#FFFFFF;
    font-size:12px;
    width:100px;
    height:20px;
    -moz-border-radius-topleft:20px;
    -moz-border-radius-bottomleft:20px;
    -webkit-border-radius-topleft:20px;
    -webkit-border-radius-bottomleft:20px;
    padding-left:10px;
    float: left;
    margin-right:5px;
    margin-bottom:3px;
    padding-top:3px;
}

.cedula-clave-error{
    background-color:#666666;
    color:#FFFFFF;
    font-size:12px;
    width:260px;
    height:auto;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    padding:10px;
    float: left;
    margin-right:5px;
    margin-bottom:10px;
}

.nom-ape-logeo{
    background-color: #FFFFFF;
    width:270px;
    height:20px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    padding-left:10px;
    float:left;
    margin-right:5px;
    margin-bottom:3px;
    padding-top:3px;
    text-decoration:none;
}

.cedula-clave-des{
    -moz-border-radius-topright:20px;
    -moz-border-radius-bottomright:20px;
    -webkit-border-radius-topright:20px;
    -webkit-border-radius-bottomright:20px;
    width:150px;
    height:20px;
    background-color:#FFFFFF;
    float: left;
    padding-top:3px;
}

.olvido_registro{
    background-color: #FFFFFF;
    width:170px;
    height:20px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    padding-left:10px;
    float:left;
    margin-right:5px;
    margin-bottom:3px;
    padding-top:3px;
    text-decoration:none;
}

.olvido_registro a{
    text-decoration:none;
    color:#666666;
    font-size:12px;
}

.input-sin-borde{
    border:none;
    padding-left:10px;
}

.boton_entrar{
    float:left;
    width:85px;
}




.botonindex{
    background-color:#980E10;
    color:#FFFFFF;
    width:80px;
    height:20px;
    border-width:thin;
    border-style:none;
    cursor:pointer;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    font-weight:bold;
}

.boton{
    background-color:#980E10;
    color:#FFFFFF;
    width:auto;
    height:20px;
    border-width:thin;
    border-style:none;
    cursor:pointer;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    font-weight:bold;
}


#div-menu-izq{
    float:left;
    background: url(imagenes/bg_bc_menu.png) 0 0 repeat-x;
    width:310px;
    padding:10px;
    /*background-color:#CCCCCC;*/
    /*background-color:#F2F2F2;*/
    margin-bottom:10px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    /*-moz-border-radius-bottomleft:20px;*/
    height:auto;
    border:hidden;
}

#contenedor-clima{
    float:left;
    background: url(imagenes/bg_clima.png) 0 0 repeat-x;
    width:310px;
    padding:10px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    margin-bottom:5px;
    background-color:#304361;
    color:#FFFFFF;
    font-family:Verdana;
}

#contenedor-cumpleintranet{
    float:left;
    /*background-color: #FFFFFF;*/
    width:310px;
    height:200px;
    padding:10px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    margin-bottom:10px;
    color: #000000;
    font-family:Verdana;
    font-size:10px;
    background: url(imagenes/bg_cumple.gif) 0 0  no-repeat;
    margin-top:10px;
}
/*
#banner-cumple{
color: #FFFFFF;
background: url(imagenes/bg_cumpleaneros.png) 0 0  no-repeat;
height:30px;
padding-left:0px;
padding-top:30px;
}*/

#contenido-cumple{
    width:230px;
    height:110px;
    padding-left:5px;
    z-index:1;
    margin-top:50px;
    margin-left:10px;
    overflow: hidden;
}
#marquee_cumple{
    height:100px;
}

#contenido_servicios{
    width:900px;
    background: url(imagenes/Servicios2.png) 0 0  no-repeat;
    padding-top:50px;
    background-color:#b5b5b5;
    margin-bottom:20px;
    padding-bottom:60px;
}



#col-centro{
    float: left;
    /*background-color: #999999;*/
    /*background-color:#6D7983;*/
    width:620px;
    height:auto;
    margin-left:5px;
    -moz-border-radius-topright:20px;
    -moz-border-radius-bottomright:20px;
    -webkit-border-radius-topright:20px;
    -webkit-border-radius-bottomright:20px;
}
/*
#div-programas{
float:left;
margin-left:20px;
margin-bottom:10px;
margin-top:10px;
-moz-border-radius-topright:15px;
-moz-border-radius-bottomright:15px;
background: url(imagenes/contrastes.jpg) no-repeat;
width:548px;
height:462px;
visibility:visible;
}*/
/*
background degradado
#div-programas {
background: url(imagenes/bg-programas.png) 0 0 repeat-x;
width:620px;
height:250px;
float:left;
clear:both;
color:#FFFFFF;
font-size:12px;
font:bold;
}*/

#div-programas {
    /*background: url(imagenes/bg-banner-centro.png) 0 0 repeat-y;*/
    background-color:#DFDFDF;
    width:610px;
    height:305px;
/*float:left;
clear:both;*/
color:#FFFFFF;
font-size:12px;
font:bold;
margin-bottom:2px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
padding-top:10px;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
}

#div-programas img{
    /*margin:10px;*/
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
}

#bannerprincipalslide{
    padding-top:10px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
}

.imgprogramas{
    -moz-border-radius:20px !important;
    -webkit-border-radius: 20px;
}

#div-centro-bottom{
    /*float:left;*/
    padding-top:5px;

    width:620px;
    height:500px;
    padding-bottom:10px;
}

#div-barner{
    /*background: url(imagenes/bg-banner-bottom.png) 0 0 repeat-y;*/
    float:left;
    width:320px;
    height:360px;
    margin-right:5px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    /*-moz-border-radius-bottomleft:20px;*/
    background-color:#DFDFDF;
    padding-top:10px;
}
#bannersecundarioslide{
    margin:10px;
}

#div-barner img{
}

#div-twitter{
    background: url("imagenes/bg_bc_menu.png") repeat-x scroll 0 0 transparent;
    /*background: url("imagenes/bg_clima.png") repeat-x scroll 0 0 #304361;*/
    /* background-color:#00AEDE;*/
    /*background-color:#304361;*/
    width:290px;
    height:360px;
    float:left;
    /*background-color:#009AC8;*/
    padding-top:10px;
    margin-left:5px;
    margin-bottom:10px;
    /*-moz-border-radius-topright:20px;*/
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
}

#div-twitter h4 a{
    text-decoration: none;
    color:#FFFFFF;
}

#div-twitter h3{
    text-decoration: none;
    color:#FFFFFF;
}

#enlaces-principales{

    /*background: url(imagenes/bg-enlaces-principal.png) 0 0 repeat-y;*/
    clear:both;
    width:620px;
    float:left;
    background-color:#DFDFDF;
    height:110px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    margin-bottom:10px;
    text-decoration:none;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
}



.cont_enlace{
    text-decoration:none;
    width:620px;
    height:50px;
    margin-left: 5px;
    text-align:center;
}
.cont_enlace a{
    margin:20px;
    border:0;
    text-decoration:none;
}

.cont_enlace img{
    border:0;
    text-decoration:none;
}


#contenido-intranet {
    width:95%;
    height:auto;
    margin:5px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    background-color:#FFFFFF;
    padding:10px;
}

#contenido-system{
    /*width:95%;*/
    margin:0 auto;
    height:auto;
    margin:10px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    padding:10px;
}

#contenedor-sistemas{
    padding:5px;
    margin-top:5px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    background: url(../img/bg_cont_sistemas.png) 0 0 repeat;
    /*background: black url(imagenes/bg_cont_sistemas.png) 0 0 repeat;*/
    /*background:url(imagenes/bg-evento-principal.png) repeat;*/
    /*background-color:#666666;*/
    float:left;
    width:950px;
    overflow:hidden;
}




#contenido-galeria{
    background: url(imagenes/bg_galeria.gif) 0 0 no-repeat;
    margin-top:10px;
    width:95%;
    height:430px;
    margin:5px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    background-color: #FFFFFF;
    padding-left:25px;
    padding-top:50px;
    padding-bottom:20px;
}



#div-pie-pagina{
    width:960px; 
    margin-left:160px;
    height:auto;
    float:left;
    background:#000000;
    margin-bottom:20px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    color:#FFFFFF;
    font-size:11px;
    padding-top:5px;
    padding-bottom:5px;
    overflow:hidden;

}

#div-pie-pagina-sistemas{
    width:960px; 
    /*margin-left:160px;*/
    height:auto;
    float:left;
    background:#000000;
    margin-top:10px;
    margin-bottom:20px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    color:#FFFFFF;
    font-size:11px;
    padding-top:5px;
    padding-bottom:5px;
    overflow:hidden;
}

#sombra-bottom{
    margin:0 auto;
    width:980px;
    background: url(../img/sombra_bottom.png) repeat-x;
    height:20px;
    margin-bottom:10px;
    overflow:hidden;
}




#menu-sistemas{
    float:left;
    width:940px;
    text-align:left;
    padding-right:30px;

}




#videos-intranet{
    background: black url(imagenes/bg_videos.png) 0 0  no-repeat;
    background-color: #FFFFFF;
    padding-bottom:5px;


}

.cont_video{
    width: 700px;
    height:330px;
    /*border:#990000 1px solid;*/
    padding-left: 5px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align:center;
    font-size: 12px;
    margin-bottom: 10px;
}

.cont_video .video{
    float:left;
    clear:both;
    width: 500px;
    text-align:left;
    padding: 5px;
}

.cont_video #clips{
    width: 150px;
    height:330px;
    float:left;
    margin-left: 10px;
    text-align:left;
}

.play{
    width: 150px; 
    height: 70px;
    margin-bottom: 5px;
    background:url(imagenes/video.jpg) no-repeat center;
    cursor:hand;
}

.play p.time {
    padding-top:5px;
    padding-left:5px;
    color:#777;
    font-size: 11px;
    font-weight:bold;
} 


/*Menu#2*/
.arrowlistmenu{
    width: 310px; /*width of menu*/
    text-decoration:none !important;
    border: none !important;
    text-align:left;
    color:#FFFFFF;
}
.arrowlistmenu .menuheader{
    text-decoration:none !important;
    border:none !important;
}

.arrowlistmenu a {
    text-decoration:none !important;
    border:0;
}

.arrowlistmenu h3 {
    text-decoration:none !important;
    border: none;
}

.arrowlistmenu a:active {
    text-decoration:none !important;
    border: none;
}

.arrowlistmenu a:visited {
    text-decoration:none !important;
    border: none;
}

.arrowlistmenu div {
    text-decoration:none !important;
    border:0;
}

.arrowlistmenu img {
    border:0;
    text-decoration:none !important;
    border:0;
    margin-bottom:3px;

}

.arrowlistmenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5px; /*bottom spacing between each UL and rest of content*/
    text-decoration:none !important;
    border:0;
}

.arrowlistmenu ul li{
    padding-bottom: 2px; /*bottom spacing between menu items*/
    text-decoration:none !important;
    border:0;

}

.arrowlistmenu  li{
    border:0;
    text-decoration:none !important;
    border:none;
    background: url(imagenes/bt-general.png) 0 0 no-repeat;
    height:28px;
    padding-left:40px;
    margin-left:20px;
}



.arrowlistmenu ul li a{

    border:0;
    /*color: #393131;*/
    color: #666666;
    font:bold;
    display: block;
    padding-top:5px;
    padding-left: 1px; /*link text is indented 19px*/
    text-decoration:none !important;
    /*border-bottom: 1px solid #dadada;*/
    font-size:12px;
    font-weight:bold;

}

.arrowlistmenu ul li a:visited{
    color:#828282;
    text-decoration:none !important;
    border:0;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
    text-decoration:none !important;
    border:0;
/*color: #434343;
background-color: #F3F3F3;*/
}

#div_menu_correo{
    text-decoration:none !important;
    border:none !important;/*background: url(imagenes/bt_bc_menu.png) 0 0 no-repeat;*/
}

#div_menu_directorio{
    text-decoration:none !important;
    border:none !important;/*background: url(imagenes/bt-directorio.png) 0 0 no-repeat;*/
}

#div_menu_rrhh{
    text-decoration:none !important;
    border:none !important;
    /*background: url(imagenes/bt-rrhh.png) 0 0 no-repeat;*/
}

#div_menu_investigacion{
    text-decoration:none !important;
    border:none !important;/*background: url(imagenes/bt-investigacion.png) 0 0 no-repeat;*/
}

#div_menu_sistemas{
    text-decoration:none !important;
    border:none !important;/*background: url(imagenes/bt-sistemas.png) 0 0 no-repeat;*/
}

.img_menu{
    padding-left:5px;
    padding-top:5px;
    width:35px;
    height:35px;
    float:left;
    border:0;
    text-decoration:none !important;

}
.text-menu{
    width:250px;
    float:left;
    padding-left:10px;
    padding-top:10px;
    border:none;
    text-decoration:none !important;
}



.boton-menu-izq{
    border: none;
    text-decoration:none !important;
    color: #980E10;
    font-size:13px;
    font-weight:bold;
    width:300px;
    height:45px;
    /*padding-top:13px;*/
    background: url(imagenes/bt_bc_menu.png) 0 0 no-repeat;
    margin-bottom:3px;
}



/*
clases nuevas
*/
.foto{
    float: left;

    /*margin-bottom: 60px;*/
    vertical-align: top;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    background-color: #F0F0F0;

    width: 100%;
}

.foto img{
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    margin: 10px;
}

.titulofoto{
    /*display: none;*/
    /*width: 122px;*/
    font-size: 10px;
    text-align: center;
    clear:both;


}

.album{
    display: none;
}


.foto:hover{
    box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#contenido-galeria table{
    width: 55%;
    border-spacing: 20px;
}

#contenido-galeria table tr{
    width: 20%;

}
#contenido-galeria table td{
    vertical-align: top;
}


#dinamic_ac{
    /*contenedor de contactenos*/
    background: url(imagenes/bg_contactenos.png) 0 0 no-repeat;
    padding-top:15px;
    height:460px;

}

#vtab {
    margin: auto;
    width: 800px;
    height: 100%;
    margin-top:90px;
    padding-bottom:30px;
}
#vtab > ul > li {
    width: 47px;
    height: 110px;
    /*background-color: #fff !important;*/
    list-style-type: none;
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    border: 1px solid #fff;
    position: relative;
    border-right: none;
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    font-size:12px;
}

#vtab > ul > li.selected {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    border: 1px solid #ddd;
    border-right: none;
    z-index: 10;
    /*background-color: #fafafa !important;*/
    position: relative;
}
#vtab > ul {
    float: left;
    width: 47px;
    text-align: left;
    display: block;
    margin: auto 0;
    padding: 0;
    position: relative;
    top: 30px;
    
}
#vtab > div {
    /*text-align:justify;*/
    /*background: url(imagenes/bg_linea.png) 0 0 repeat-y;*/
    background-color: #fafafa;
    /*margin-left: 47px;*/
    border: 1px solid #ddd;
    /*min-height: 580px;*/
    
    padding: 20px;
    padding-top:0px;
    position: relative;
    z-index: 9;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    font-size:10px;
    height:580px;
    overflow: auto;
    
}

#vtab > div > p {
    text-align:justify;
    margin-left:10px;
    margin-bottom:10px; 
}

#vtab > div > ul {
    text-align:justify;
    margin-left:60px;
    margin-bottom:10px; 
}

#vtab > div > h4 {
    color: #800;
    font-size: 1.2em;
    /*border-bottom: 1px dotted #800;*/
    padding-top: 10px;
    padding-bottom:10px;
    margin-top: 0;
    text-align:center;
    background-color:#FFFFFF;
    margin-bottom:10px;
    margin-left:0;
}

#vtab .textovertical{
   rotation: 90deg !important;
   /* ** Hacks ** */
   -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

   position:absolute;
   top: 50%; 
   width: 47px;
   bottom:3px;
   left:0; 
   margin-left: 8px;
}

#resultadosdirectorio{
    background-color: #FFFFFF;
    width: 850px;
    padding-top: 10px;
    padding-bottom: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}